# Database Configuration
DB_HOST=web-services-db
DB_PORT=3306
DB_DOCKER_PORT=3307:3306
DB_ROOT_PASSWORD=Password
DB_NAME=Web-Services-Project
DB_USER=USER
DB_PASSWORD=PASSWORD

# Benutzerverwaltung Configuration
BENUTZERVERWALTUNG_PORT=3001
BENUTZERVERWALTUNG_DOCKER_PORT=3001:3001

JWT_SECRET=Secret
JWT_EXPIRE=7d
JWT_ISSUER=User-Management-Service
JWT_ALGORITHM=HS256

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=MAIL
SMTP_PASSWORD=PASSWORD
MAIL_FROM_NAME=Benutzerverwaltung
MAIL_FROM_EMAIL=Benutzerverwaltung

# Matchmaking Configuration
MATCHMAKING_PORT=3002
MATCHMAKING_DOCKER_PORT=3002:3002
MATCHMAKING_WS_PORT=8080
MATCHMAKING_DOCKER_WS_PORT=8080:8080

USER_MANAGEMENT_ROUTE=http://benutzerverwaltung:3001/Users/auth

# Color-Api Configuration
COLOR_API_PORT=3003
COLOR_API_DOCKER_PORT=3003:3003

# skyjo-logic port
SKYJO_PORT=1023
SKYJO_DOCKER_PORT=8090:1023
SKYJO_DATABASE=skyjo

SKYJO_LOGIC_ROUTE=http://skyjo-logic:1023/setUpGame

# demo frontend
VITE_USER_API_BASE=http://localhost:3001
VITE_COLOR_API_BASE=http://localhost:3003
VITE_MATCHMAKING_WS_URL=ws://localhost:8080

FRONTEND_DEMO_PORTS=5173:80
FRONTEND_DEMO_INTERNAL_PORT=80

FRONTEND_DOCKER_PORT=3000:3000