# Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DOCKER_PORT=3306:3306
DB_ROOT_PASSWORD=Password
DB_NAME=Web-Services-Project
DB_USER=Web-Services-Project
DB_PASSWORD=Password

# Benutzerverwaltung Configuration
BENUTZERVERWALTUNG_PORT=3001
BENUTZERVERWALTUNG_DOCKER_PORT=3001:3001

JWT_SECRET=Secret
JWT_EXPIRE=7d
JWT_ISSUER=User-Management-Service
JWT_ALGORITHM=HS256

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=EMail
SMTP_PASSWORD=Password
MAIL_FROM_NAME=Benutzerverwaltung
MAIL_FROM_EMAIL=Benutzerverwaltung

# Matchmaking Configuration
MATCHMAKING_PORT=3002
MATCHMAKING_DOCKER_PORT=3002:3002
MATCHMAKING_WS_PORT=8080
MATCHMAKING_DOCKER_WS_PORT=8080:8080

USER_MANAGEMENT_ROUTE=http://localhost:3001/Users/auth