VITE_USER_API_BASE=http://localhost:3001
VITE_MATCHMAKING_HTTP_BASE=http://localhost:3002
VITE_MATCHMAKING_WS_URL=ws://localhost:8080
VITE_COLOR_API_BASE=http://localhost:3003
VITE_SKYJO_API_BASE=http://localhost:8090